body {
    margin: 0;
    padding: 0;
    background-color: #e3bebe;
}

#table {
    width: 48px;
    height: 48px;
    background-color: #499a49; /* Green */
    border: 1px solid black;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

#tables {
  width: 48px;
  height: 48px;
  background-color: #f94d44;
  border: 1px solid black;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 15px 20%;
  align-items: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-content {
background-color: #E9A6A6;
margin: auto;
padding: 20px;
border-radius: 20px;
width: 30%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0px 15%;
}

.table-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  justify-content: space-evenly;
  column-gap: 20px;
  padding: 0px 15%;
}

.sched {
    border: 1px solid black;
    width: fit-content;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected {
    background: #b1e564;
    color: black;
}

.unavailable {
    background: gray;
    cursor: default !important;
}

.form-input {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.form-input label {
    font-weight: bold;
}

.email-form {
    margin-top: 4px;
    background-color: #f2e9e9;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

#book-form {
  margin-top: 32px;
}

#book-form button{
    border-color: #864879;
    background: #864879;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 16px;
}

nav {
    background-color: #E9A6A6;
    display: flex;
    align-items: center;
    height: 92px;
    box-shadow: 0 8px 8px -4px rgba(0,0,0,.2);
}

ul {
    padding: 0px 15%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }


li p {
  display: block;
  color: white;
  text-align: center;
  padding: 14x 16px;
  text-decoration: none;
  border-right: none;
  font-size: 20px;
  font-weight: bold;
}

li a {
  height: 100%;
  display: block;
  color: black;
  font-size: 28px;
  visibility: hidden;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #E9A6A6;
}

.active {
  background-color: #04AA6D;
}

#book-button {
    cursor: pointer;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3F3351;
  color: white;
  visibility: hidden;
  text-align: center;
}

main {
  display: block;
}

.navbar-brand {
  visibility: hidden;
}

.table-container {
  background-color: #E9A6A6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-top: 8%;
  padding-bottom: 3%;
  box-shadow: 0 8px 8px -4px #00000033,
  8px 0 8px -4px #00000033;
}

#table-title {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 40px;
}